<!-- Start Navbar -->
<nav class="navbar">
    <ul class="flex flex-align-center">
        <li><a class="nav-logo" href="/">Logo</a></li>
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/new_post">New Post</a></li>
        <li><a class="nav-item" href="/contact">Contact</a></li>
        <li><a class="nav-item" href="/about">About</a></li>
    </ul>
</nav>
<!-- End Navbar -->