<!-- Start Navbar -->
<nav class="navbar">
    <ul class="flex">
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/contact">Contact</a></li>
        <li><a class="nav-item" href="/about">About</a></li>
    </ul>
</nav>
<!-- End Navbar -->