<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Simple Website</title>
</head>
<body>
    <header>
        <%- include('layouts/navbar') -%>
    </header>

    <main class="flex container">
        
        <!-- Main container -->
        <div class="flex-grow-2 articles">
            <% if(posts.length != 0){ %>
                <% for(let row of posts){ %>
                    <div class="post">
                        <h2 class="title">
                            <%= row.title %>
                        </h2>
                        <p class="post-body">
                            <%= row.body %>
                        </p>
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <!-- Right area of website -->
        <div class="right-container flex flex-column flex-grow-1">
            <!-- Index container (aka more articles) -->
            <div class="flex-grow-2">
                Index
            </div>
            
            <!-- Ads container -->
            <div class="flex-grow-1">
                Ads
            </div>
        </div>
        


        
    </main>

    <script src="js/index.js"></script>
</body>
</html>