<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Simple Website | New Post</title>
</head>
<body>
    <header>
        <%- include('layouts/navbar') -%>
    </header>

    <form style="max-width: 15%;" action="/post/articles" method="post">
        <h1>Create New Post</h1>
        <div class="flex flex-column">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Enter a title for the article">

            <label for="body">Article Body</label>
            <textarea name="body" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</body>
</html>