/* Implement the main navbar styling */
.navbar{
    background-color: #6378AD;
    font-size: 1.4rem;
    padding: 0.2em;
}

.navbar ul{
    list-style: none;
}

.navbar a{
    text-decoration: none;
}

.navbar li + li{
    margin-left: 1em;
}

.nav-item{
    padding: 0.5em 1.2em;
    background-color: #FFDED6;
    border-radius: 0.3em;
    color: #6378AD;
}